# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.pnpm-store
.pnpm-lock.yaml

# Node dependencies
node_modules
node-compile-cache

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

app/app.config.ts
app/nuxt.config.ts
pnpm-lock.yaml
